@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'lexend';
    src: url('fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

